<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<% if user_signed_in? %>
  <img src= <%= current_user.image %>>
  <p>Welcome <%= current_user.name %></p>
  <%= link_to 'Log out', destroy_user_session_get_path, :method => :delete %>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to 'Login', user_omniauth_authorize_path(:facebook) %>
<% end %>

<!-- 
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<%= link_to 'Logged In [click to logout]', destroy_user_session_get_path %> -->